body {
    text-align: center;
    margin-right:auto;
    background-color: rgb(0, 0, 66);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(0, 247, 255);
    margin-left:auto;
    margin-right:auto;
    background-image:url(Background3.gif);
    
}

header {
    height: 0px;
    padding-top: 0px;
    position: sticky;
    top: 0;
    z-index: 1000;
    
}

.stickyNav {
    position: sticky;
    top: 0px;
    z-index: 1000;
    background-color:rgb(0, 0, 34);
    opacity: 50%;
    transition: 1s;

}
.stickyNav:hover {
    opacity: 100%;
    transition: 1s;
}
.navbar ul {
    display: flex;
    justify-content: center;
    /* this made the items be centered but miles apart from each other, which is fixed below by margin problem */
    line-height: 30px;
    margin: 0;
    padding: 0;
    /* setting a line height made it less tiny, 50px looks a bit chonky. Try whatever suits the vibe youre going for */
    
}

li {
    list-style-type: none;
    /* margin: auto; */
    /* by commenting out this margin auto, it made them come together in the middle, not be totally separate */
    padding: 0;
    background-color: rgb(0, 0, 184);
    /* width: 5%; */
    height: 20%;
    color: white;
    border-radius: 50;
    width: 33%;
    /* change this to another percentage if you don't like how 33% looks */
    margin: 0;
}

li a {
    display: block;
    padding: 8px, 16px;
    color:white;
    text-decoration: none;
    /*adding text decoration none made the navbar words not underlined */
    padding: 0 15px;
    box-sizing: border-box;
}

.navbar li a.active {
    background-color: turquoise;
    color: white;
}

.navbar li a:hover:not(.active) {
    background-color: turquoise;
    color: white;
}



/* HELEN NAV BAR NOTES - FEEL FREE TO DELETE ALL THIS */

/* What I did: */

/* Step 1: in the HTML, put the whole <nav> outside the <header> (put it between </header> and <main> tags) */
/* Step 2: in the HTML, give the <nav> tag a class, e.g. <nav class="navbar"> */
/* Step 3: this is just a note - acknowledge that there are 4 different parts of the nav that may need styling
    1. the <nav> itself.
    2. the <ul> that makes the navbar.
    3. the <li> items of the UL.
    4. the <a> links in the LI items.
*/

/* Extra Styling: adding the hover style. You already have one of these that works nicely. Mine was like this - 
    a. .navbar li a:hover { background-color: #19D9FF; }
*/

/* Extra Styling: adding the active style. Mine was like this - 
    a. .navbar li a.active { background-color: #00BFE6;
This is really the only thing on yours that you don't have yet. You don't have to have it at all. I quite like it though, but choice is yours.
It will make the navbar have a different colour if you are on that page. 
e.g. if you are currently on the homepage, the "home" one on the navbar will be highlighted a different colour.
*/